@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

#sidenav-header{
    font-family: Gloock ,Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px solid black;
    font-weight: 300 !important;
}
.form-check-input[type="checkbox"] {
    /* border-radius: 0 !important; */}

.col-2{
    background-color: #DFE7EC;
    
}

#main-container{
    min-height: 100vh;
}

.lead{
    font-size: 0.9rem !important;
}
.display-4{
    font-family: Gloock ,Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem !important;
}